@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Open Sans", sans-serif;
  }

nav{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    min-height: 10vh;
}

.logo{
    font-weight: bold;
    display: block;
}

.nav-links{
    display: flex;
    width: 40vw;
    justify-content: space-around;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: black;
    text-decoration: none;
    font-size: 15px ;
}

.home{
    position: relative;
}
.img-container{
    background-image: url(../images/frontpage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.inner-container{
    position: absolute;
    text-align: center;
    left: 30%;
    bottom: 45%;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

h2{
    text-transform: uppercase;
    text-align: left;
    font-size: 30px;
    color: #54baf5;
    font-weight: bold;
}